.header-main {
  background-color: rgb(184, 140, 58);
  z-index: 500;
  // filter: contrast(2);
}
.heading-brand {
  text-shadow: 2px 2px rgb(182, 128, 13);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  margin-left: 100px;
}
.icon-block {
  font-size: 20px;
  padding: 10px;
  color: #15171d;
}
.modalclass {
  width: auto;
  height: auto;
  position: absolute;
  top: 15%;
  left: 30%;
  border: 2px black;
  img {
    border-radius: 20px;
  }
}
.modalbutton {
  outline: none;
  border: none;
  background-color: rgb(184, 140, 58);
}
